<nav class="navbar navbar-expand-lg navbar-light bg-white z-index-3"  style="margin-left: -12px;margin-right: -12px;"> <!-- Added py-2 for vertical padding -->
    <div class="container">
      <a class="navbar-brand me-3"  rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom"  target="_blank" > <!-- Added me-3 for margin end -->
       <h2 style="font-size: 30px;">Admin Dashboard</h2> 
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <div class="row gy-2 gx-3"> <!-- Added gy-2 for vertical gap and gx-3 for horizontal gap between columns -->
            <div class="col-auto">
              
            </div>
            <div class="col-auto">
              <div class="dropdown">
                
                <ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
                  ...
                </ul>
              </div>
            </div>
            <div class="col-auto">
              <div class="bg-white border-radius-lg d-flex align-items-center me-2"> <!-- Adjusted for alignment and spacing -->
                
                <button class="btn bg-dark ms-2" (click)="Logout()" style="color: white;margin-right: 15px;">Logout</button> <!-- Added ms-2 for margin start -->
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  