
<div class="container-fluid" style="overflow-y: hidden;height: 100%;">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0   bg-dark" style="max-height: 80%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 ">
                <a  class="mt-2 d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"   >
                    <span class="fs-5 d-none d-sm-inline "><h2 style="font-size: 30px;">Leave-Application</h2></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="mt-2">
                        <a href="#" routerLink="/AdminDashboard" class="nav-link px-0 align-middle " style="font-size: 20px;">
                            <i class='fas fa-tachometer'style="color: white;margin-right: 10px;" ></i> <span class=" ms-1 d-none d-sm-inline" style="color: white;">Dashboard</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="#" routerLink="Adduser" class="nav-link px-0 align-middle " style="font-size: 20px;">
                            <i class="fas fa-user-plus" style="color: white;margin-right: 10px;" ></i> <span class=" ms-1 d-none d-sm-inline" style="color: white;">Create User</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="#"style="font-size: 20px;"  routerLink="showuser" class="nav-link px-0 align-middle ">
                            <i class="fas fa-users" style="color: white;margin-right: 10px;"  ></i> <span class=" ms-1 d-none d-sm-inline" style="color: white;">Show User</span>
                        </a>
                    </li>
                 
                   
                   
                        
                  
                </ul>
                <hr>
                <button class="btn bg-white ms-2 mb-4" (click)="Logout()"  style="color: black;margin-right: 15px;">Logout</button>
            </div>
        </div>
       
        <div class="col"   >
            <app-navbar *ngIf="triggrednav.shownav"></app-navbar>  
            <router-outlet></router-outlet>
        
        </div>

    </div>
</div>
